.previewWrapper {
    margin: 0 auto;
    width: 895px;
    padding: 5px;
}

.previewBody {
    border: 1px;
    float: right;
    font-family: Arial;
    font-size: 9.5pt;
    height: 1000px;
    position: relative;
    width: 100%;
}

.previewBodyCell {
	vertical-align:top;
	padding-top: 75px;
	padding-bottom: 75px;

}

.printPreviewBody {
     float: right;
    font-family: Arial;
    font-size: 9.5pt;
    height: 1000px;
    position: relative;
    width: 100%;
}

p {
    margin: 0 !important;
}

td.previewLogoAndAddress {
    padding: 60px 300px 0 65px;
    vertical-align: top;
    border-width: 0px;
}

.previewReference, .previewReference p td{
	padding-top: 10px;
    font-family: Arial;
    font-size: 8.5pt !important;
    border-width: 0px;
}

#previewReferenceTable{
	border-width: 0px;
}

.previewLeftbar {
    float: left;
    padding: 0 40px 0 58px;
    position: relative;
    width: 181px;
}

.previewTitlebar h1 {
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.previewMainBody {
    float: right;
    font-family: Arial;
    font-size: 9.5pt;
    padding: 0 70px 0 0;
    position: relative;
    width: 475px;
}

.previewMainBodyCentered {
    float: right;
    font-family: Arial;
    font-size: 9.5pt;
    padding: 0 150px 0 70px;
    position: relative;
    width: 550px;
}

.previewCoupon {
    bottom: 0;
    position: absolute;
    width: 820px;
}

#leftNavPreviewForm {
/* 	width: 100%; */
}

#previewTop {
	float: left;
    margin: 0 0 75px;
    position: relative;
    width: 100%;
	
}

p {
    margin: 0 !important;
}

.previewRefaddress {
	margin: 20px 0 0 45px;
	
}

/* List items on the rendered document should have bullets aligned with the surrounding text. */
.previewBody ul, .printPreviewBody ul {
	margin-top: 0px;
	margin-left: 3px;
	padding-left: 12px;
}

/* headers should be single spaced and not double-spaced */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}